<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.econ" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pollution"
            android:label="Pollution" >
            <intent-filter>
                <action android:name="com.example.econ.POLLUTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GlobalWarming"
            android:label="Global Warming" >
            <intent-filter>
                <action android:name="com.example.econ.GLOBALWARMING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OverPopulation"
            android:label="Over Population" >
            <intent-filter>
                <action android:name="com.example.econ.OVERPOPULATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResourceDepletion"
            android:label="Resource Depletion" >
            <intent-filter>
                <action android:name="com.example.econ.RESOURCEDEPLETION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Videos"
            android:label="Videos" >
            <intent-filter>
                <action android:name="com.example.econ.VIDEOS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
